@tailwind base;
@tailwind components;
@tailwind utilities;
*{
            
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    transition: 0.2s;
}
body {
    overflow-x: hidden;
}

.aside {
    position: fixed;
    top: 60px;
    width: 20%;
    transition: .3s;
}
.aside.active {
    width: 80px;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0%;
    background-color: #fff;

}

.aside.active div h3 {
    display: none;
}
.aside.active div {
    
    width: 100%;
}
.aside div {
    padding: 0 1.5rem ;
    cursor: pointer;
    margin-bottom: 1rem;
}
.aside div svg {
    width: 2rem;
    height: 2rem;
    color: #3a82f5 ;

}
.aside div h3{
    color: rgb(100 116 139);
}
.aside.active div svg {
    width: 2.2rem;
    height: 2.2rem;
    color: #3a82f5 ;
}
.aside.active div {
    padding: 0 0 0 1rem;
    cursor: pointer;
}
.container {
    margin-left: 0px; 
    transition: 0.3s;
}

.imag img:hover {
    transform: translateY(-10px);
    transition: 0.2s all linear;
}
/* @media (min-width: 768px) {
    .container {
        margin-left: 100px;
    }
    
    .aside {
        width: 250px;
        height: 100vh;
        position: fixed;
        left: 0%;
    }
    .aside.active {
        left: 0%;
    }
} */

/* @media (max-width: 768px) {
    .container {
        margin-left: 0px;
    }
    .aside {
        top: 10px;
        width: 250px;
        height: 100vh;
        position: fixed;
    }
    .aside.active {
        top: 30px;
        left: -25%;
    }


}  */

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.content-placeholder {
  display: inline-block;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
  background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  -webkit-background-size: 800px 104px;
  background-size: 800px 104px;
  height: inherit;
  position: relative;
}

/* Categorie css */
.filmcontainerCat {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px, auto));
    border-bottom: 1px solid #3a82f5;
    padding-top: 30px;
    
}

/*-------------------*/
.circular {
    position: relative;
}
.circular:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: white;
    border-radius: 50%;
}
.percent {
    color: #3a82f5;
}