.video-container {
position: relative;
/* width: 90%; */
max-width: 1000px;
display: flex;
justify-content: center;

/* margin-inline: auto;  */
background-color: black;
}

.video-container.theater,
.video-container.full-screen {
max-width: initial;
width: 100%;
}

.video-container.theater {
max-height: 90vh;

}

.video-container.full-screen {
max-height: 100vh;
}

video {
width: 100%;
}

